[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
allure-pytest = "*"
typing-extensions = "*"
solana = "*"
rlp = "*"
eth-keys = "*"
ecdsa = "*"
twine = "*"
wheel = "*"
behave = "*"
allure-behave = "*"
python-dotenv = "*"
web3 = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
