[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
allure-pytest = "*"
behave = "*"
allure-behave = "*"
python-dotenv = "*"
eth-brownie = "*"
flake8 = "*"
requests = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
